fieldset {
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 .625em;
}

.radios { /* nested fieldset */
    background-color: transparent;
    position: relative;
    margin-bottom: 0;
}

h2 {
    background-color: #dedede;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
    color: #fff;
    font-size: 1.1em;
    margin: 12px;
    padding: 0.3em 1em;
    text-shadow: #9FBEB9 1px 1px 1px;
    text-transform: uppercase;
}

.hdr-account { background-color: #0b5586; }
.hdr-address { background-color: #4494c9; }
.hdr-public-profile { background-color:#377d87; }
.hdr-emails { background-color: #717f88; }
